/* COLORS */
:root {
  /* ======
  PRIMARY
  ====== */
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* ======
  GRADIENTS
  ====== */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* ======
  SECONDARY
  ====== */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

/* ======
CSS RESET
CREDIT TO: https://www.joshwcomeau.com/css/custom-css-reset/ 
====== */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ======
UTILITES
====== */
a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* - MAIN - */

/* ======
IPHONE 
====== */
.iphone-wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.iphone-wrapper::before {
  content: "";
  position: absolute;
  width: 98%;
  height: 70%;
  background: linear-gradient(
    to bottom,
    var(--Moderate-Violet),
    var(--Light-Violet)
  );
  top: 0;
  right: 0;
  left: -17.5rem;
  bottom: 0;
  transform: scale(1.5);
  border-radius: 0 0 18rem 18rem;
}

.iphone-model {
  position: relative;
  max-width: 16.75rem;
  background-color: var(--White);
  border-radius: 30px;
  margin: 4rem auto 0;
  padding: 0.6rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ======
IPHONE TOP
====== */
.iphone-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 1rem;
  background: linear-gradient(
    to left,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  border-radius: 30px 30px 8px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 4=0px 2px -2px;
  z-index: 2;
}

.iphone-top::before {
  content: "";
  position: absolute;
  height: 0.8rem;
  width: 5.2rem;
  top: 4px;
  transform: scale(1.6);
  background-color: var(--White);
  border-radius: 0 0 10px 10px;
}

.iphone-top img {
  margin-top: 2.5rem;
  margin-right: 9rem;
  max-width: 12%;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.fa-angle-left {
  position: absolute;
  bottom: 26.5%;
  left: 7%;
  color: var(--White);
}

.fa-ellipsis-vertical {
  position: absolute;
  bottom: 28%;
  right: 6%;
  color: var(--White);
}

.iphone-top-text {
  position: absolute;
  right: 10%;
  margin-top: 2.5rem;
  margin-right: 4rem;
  color: white;
  font-size: 0.8rem;
}

.iphone-top-text p:last-child {
  font-size: 0.6rem;
  color: var(--Pale-Violet);
}

/* ======
IPHONE BODY
====== */
.iphone-body {
  position: relative;
  height: 33rem;
  max-width: 16.75rem;
  margin-top: -0.8rem;
  border-radius: 0 0 30px 30px;
  background-color: var(--Light-Grayish-Violet);
  z-index: 1;
}

.left-text-bubble {
  position: absolute;
  top: 5.5%;
  left: 4%;
  height: 45px;
  width: 150px;
  padding: 0.5rem;
  font-size: 0.6rem;
  background-color: #f3d9fa;
  color: var(--Moderate-Violet);
  border-radius: 12px 12px 12px 5px;
}

.text2 {
  top: 16.5%;
}

.right-text-bubble p {
  height: 45px;
  width: 150px;
  margin-top: 0.8rem;
  margin-left: 5.6rem;
  padding: 0.5rem;
  font-size: 0.6em;
  background-color: var(--White);
  color: var(--Desaturated-Dark-Violet);
  border-radius: 12px 12px 5px 12px;
}

.right-text-bubble .text3 {
  margin-top: 0.5rem;
  margin-left: 8.7rem;
  height: 30px;
  width: 100px;
  border-radius: 12px 12px 5px 12px;
}

.pet-photos {
  display: flex;
  gap: 0.5rem;
  padding-top: 9rem;
  padding-left: 5rem;
}

.pet-photos img {
  width: 48px;
  border-radius: 10px;
}

.left-text-reply {
  position: absolute;
  left: 4%;
  height: 60px;
  width: 150px;
  margin-top: 1.2rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  background-color: #f3d9fa;
  color: var(--Moderate-Violet);
  border-radius: 12px 12px 12px 6px;
}

.cta-walk {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 71%;
  margin-top: 5.5rem;
  margin-left: 0.7rem;
  padding: 0.6rem 0.5rem;
  font-size: 0.6rem;
  color: var(--Light-Grayish-Violet);
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  border-radius: 12px 12px 12px 6px;
}

.cta-walk label {
  opacity: 0.8;
}

input[type="radio"] {
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  outline: var(--Light-Grayish-Violet) solid 1px;
  opacity: 0.4;
}

.cta-walk p {
  margin-left: 1.8rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.second-option {
  margin-top: 0.5rem;
}

.second-option p {
  margin-left: 3rem;
}

.message-bubble {
  position: relative;
  margin-top: 1rem;
  margin-left: 0.7rem;
  padding: 0.6rem 1rem;
  width: 90%;
  font-size: 0.65rem;
  background-color: var(--White);
  border-radius: 50px;
}

.fa-angle-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 21%;
  right: 5%;
  padding: 0.3rem 0.5rem;
  transform: scale(1.4);
  color: var(--White);
  background-color: var(--Very-Dark-Desaturated-Violet);
  border-radius: 50%;
}

.message-bubble p {
  color: var(--Grayish-Blue);
}
/* ======
ATTRIBUTION
====== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
